.form_wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 2rem auto 0;
  padding: 0 1rem;
}

.form input {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--black);
  margin: 0;
  padding: 15px;
  width: 100%;
  outline: none;
}

.form select {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--black);
  margin: 0;
  padding: 15px;
  width: 100%;
  outline: none;
}

.input_container {
  width: 100%;
}

.names_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
}

.form_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--dark-gray);
  margin: 0;
}

.form_checkbox_container {
  display: flex;
} 

.form_checkbox {
  align-items: center;
  display: flex;
  gap: .5rem;
}
.form_button {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_button button {
  background-color: var(--dark-gray);
  border-color: rgba(0, 0, 0, 0);
  outline: 0;
  border-width: 2px;
  border-style: solid;
  color: var(--white);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
}

.form_button button[type="submit"] {
  background-color: var(--blue);
  color: var(--white);
}


.form_names {
  display: flex;
  gap: 1rem;
}

.form_names_container {
  width: 100%;
}

.form_error_message {
  font-size: 11px;
  color: var(--red);
}