/** Estilos Generales **/

h1 {
  font-family: "poppins",sans-serif;
  font-size: 2rem;
  text-align: justify;
  color: #f2f2f2;
}

h2, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: #f2f2f2;
}

.header-home {
  padding: 10px;
  height: 50px;
  width: 100%;
  position: 0;
  top: 0%;
  background: white;
  text-align: center;
}

nav{

  display: inline-block;
  text-align: right;
  color: #f2f2f2;
}

.main {
  background-color: rgba(106, 141, 163, 0.7);
}

.main section {
  max-width: 1150px;
  margin: auto;
}

.main__picture {
  max-width: 100%;
}

.main__picture img {
  width: 100%;
  object-fit: cover;
}

.optionList-section {
  display: flex;
  gap: 1rem;
  margin-top: 2rem!important;
}

.optionList-section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionList-section article img {
  object-fit: cover;
}

footer {
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 100%;
  position: 0;

}
  
@media screen and (max-width: 768px) {
  .main {
    padding: 0 1rem;
  }
  
  .optionList-section { 
    flex-direction: column;
  }
}
  